{% extends "bootstrap/base.html" %}

{% block title %}Icoin{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='styles/bootstrap-slider.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='styles/icoin.css')}}">
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
			<span class="navbar-brand">
				<img src="{{ url_for('static', filename='images/logo.png') }}"/>
			<span>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
	<div class="center-block" style="width: 600px">
		{% for message in get_flashed_messages() %}
		<div class="alert alert-warning">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
		</div>
		{% endfor %}

		{% block page_content %}{% endblock %}
	</div>
</div>
{% endblock %}

