{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Icoin - Pledge{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Pledge</h1>
</div>

<div class="panel">
	<p>HTML:</p> 
	<textarea class="form-control" rows="3" readonly="readonly" onClick="this.setSelectionRange(0, this.value.length)">{{html}}</textarea>
</div>

<div class="panel">
	<p>Github Markdown:</p> 
	<textarea class="form-control" rows="3" readonly="readonly" onClick="this.setSelectionRange(0, this.value.length)">{{markdown}}</textarea>
</div>

<div>
	<a href="{{ url_for('gui.create_pledge') }}">Another Pledge</a>
</div>

{% endblock %}


